<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Ekologiczne kosmetyki i chemia gospodarcza, bio kosmetyki, rękawice nitrylowe i lateksowe. Jakość przede wszystkim."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bio kosmetyki, eko chemia, rękawice nitrylowe | Optimos</title>
    <link rel="shortcut icon" href="./img/favopt.png" type="image/png" />
    <link
      href="https://fonts.googleapis.com/css?family=Overlock|Alegreya+Sans:400,700&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <!-- header -->
      <header class="menu">
        <div class="menu__container">
          <figure class="menu__logo">
            <a
              class="menu__logo__link menu__nav__link--scroll"
              href="#mainsite"
            >
              <svg
                class="menu__logo__svg"
                version="1.1"
                viewBox="0 0 138.47 60"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>Optimos logo</title>
                <g
                  class="menu__logo__svg__leaves"
                  fill="#498d00"
                  stroke="#498d00"
                >
                  <path
                    class="menu__logo__svg__leaf-bottom"
                    d="m34.258 45.397c-10.2 1.5386-20.833.79218-33.018-8.1377 11.744-1.9972 22.744.75459 33.018 8.1377z"
                    stroke-width=".068128"
                  />
                  <path
                    class="menu__logo__svg__leaf-middle"
                    d="m30.203 37.734c-12.949-6.7249-24.336-16.579-30.126-37.64 15.112 7.4698 25.112 20.059 30.126 37.64z"
                    stroke-width=".099396"
                  />
                  <path
                    class="menu__logo__svg__leaf-top"
                    d="m31.674 32.915c1.6137-10.918 5.9424-21.504 19.995-30.901-1.6038 12.647-8.3109 22.928-19.995 30.901z"
                    stroke-width=".076441"
                  />
                </g>
                <g class="menu__logo__svg__letters" fill="#498d00">
                  <path
                    id="letter-o1o"
                    d="m62.578 43.207q0 4.212-2.268 6.723-2.241 2.511-6.048 2.511-3.78 0-6.021-2.511t-2.241-6.723 2.241-6.696q2.241-2.511 6.021-2.511 3.807 0 6.048 2.511 2.268 2.484 2.268 6.696zm-3.618-4.941q-.675-1.188-1.89-1.89-1.215-.729-2.781-.729-2.781 0-4.428 1.917-1.647 1.89-1.647 4.833 0 3.213 1.35 5.697.675 1.242 1.863 1.971 1.215.729 2.808.729 2.916 0 4.482-1.944 1.593-1.971 1.593-5.076 0-3.132-1.35-5.508z"
                  />
                  <path
                    id="letter-p"
                    d="m65.977 57.463.081-12.015q0-4.266-.513-5.697.486-.216 1.053-.216 1.161 0 1.161 1.35 2.052-1.539 4.158-1.539 2.133 0 3.429 1.458 1.323 1.431 1.323 4.374 0 4.212-2.565 6.21-1.35 1.053-3.105 1.053-1.728 0-3.159-.918 0 4.59.189 5.67.189 1.107.351 1.593-.486.216-1.188.216-.675 0-.945-.351t-.27-1.188zm1.917-7.344q1.242.81 3.24.81 1.215 0 2.079-.81 1.539-1.512 1.539-4.536 0-2.43-.945-3.564-.918-1.161-2.565-1.161t-3.402 1.485q.054 5.94.054 7.776z"
                  />
                  <path
                    id="letter-t"
                    d="m80.492 41.074q-.081 0-2.511.189-.081-.243-.081-.756 0-.54.405-.702.405-.189 1.377-.189h.756q-.054-1.809-.162-3.024.405-.081.891-.081 1.296 0 1.296 1.026 0 .378-.108 2.106 3.429 0 4.536-.135.108.216.108.702 0 .459-.297.648-.27.189-1.053.216-.756.027-3.348.027-.054 2.916-.054 5.697 0 2.754.513 3.483.54.729 1.701.729 1.188 0 1.998-.81.486.513.486 1.026t-.702.864-1.701.351q-2.241 0-3.186-1.296-.918-1.296-.918-3.861.054-4.887.054-6.21z"
                  />
                  <path
                    id="letter-i"
                    d="m89.309 50.713.054-4.779q0-3.861-.189-6.318.432-.081.918-.081 1.269 0 1.269 1.026 0 .135-.054 1.08-.162 2.889-.162 5.805 0 2.889.513 4.59-.486.216-1.161.216-.648 0-.918-.351t-.27-1.188zm2.295-14.04q0 .594-.432 1.026-.432.405-.999.405-.54 0-.945-.405t-.405-1.026.432-1.026q.432-.432.972-.432.567 0 .972.432.405.405.405 1.026z"
                  />
                  <path
                    id="letter-m"
                    d="m110.02 50.875.162-6.993q0-1.539-.648-2.268-.621-.756-1.647-.756-1.566 0-3.348 1.431.054 3.672.054 5.859 0 2.16.162 3.996-.432.081-.918.081-1.215 0-1.215-1.026 0-.108.027-1.08.108-2.322.108-6.237 0-3.024-2.376-3.024-1.539 0-3.321 1.485.054 3.672.054 5.832 0 2.133.162 3.969-.432.081-.918.081-1.215 0-1.215-1.026 0-.108.054-1.971.081-1.89.081-3.753 0-4.428-.513-5.724.54-.216.972-.216 1.242 0 1.242 1.35.837-.675 1.998-1.107t2.241-.432q2.214 0 2.997 1.755.729-.729 2.025-1.242 1.323-.513 2.619-.513 1.323 0 2.241.918.918.891.918 2.889l-.081 4.806q0 2.484.459 4.077-.54.216-1.161.216-.594 0-.918-.297-.297-.324-.297-1.08z"
                  />
                  <path
                    id="letter-o2o"
                    d="m126.99 45.907q0 2.97-1.62 4.752t-4.266 1.782q-2.619 0-4.239-1.782t-1.62-4.752 1.62-4.752q1.62-1.809 4.239-1.809 2.646 0 4.266 1.809 1.62 1.782 1.62 4.752zm-5.886 5.022q1.89 0 2.943-1.269t1.053-3.483-1.08-3.753q-1.08-1.566-2.943-1.566t-2.916 1.296q-1.026 1.269-1.026 3.483t1.053 3.753 2.916 1.539z"
                  />
                  <path
                    id="letter-s"
                    d="m136.58 42.613q-.297-.783-1.215-1.269t-1.89-.486q-.945 0-1.62.513-.675.486-.675 1.35t.702 1.323q.729.459 1.755.702t2.052.567q1.026.297 1.728 1.107.729.81.729 2.106 0 1.917-1.377 2.916t-3.159.999q-1.755 0-3.051-.621-1.269-.621-1.269-1.539 0-.783 1.215-1.134.297.864 1.269 1.323.999.459 2.16.459t1.863-.513q.729-.513.729-1.458t-.729-1.377q-.702-.432-1.728-.648-1.026-.243-2.052-.54-1.026-.324-1.755-1.188-.702-.864-.702-2.349 0-1.512 1.377-2.511 1.404-.999 2.916-.999t2.727.567 1.215 1.485-1.215 1.215z"
                  />
                </g>
              </svg>
            </a>
          </figure>
          <div class="menu__burger">
            <svg
              class="menu__burger__top"
              version="1.1"
              viewBox="0 0 40 6"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <path
                  d="m39.878 2.9627c-11.153 3.2308-23.435 4.7211-39.761-.021921 12.778-3.9002 26.036-3.8603 39.761.021921z"
                  fill="#498d00"
                  stroke="#498d00"
                  stroke-width=".066818"
                />
              </g>
            </svg>
            <svg
              class="menu__burger__middle"
              version="1.1"
              viewBox="0 0 40 6"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <path
                  d="m39.878 2.9627c-11.153 3.2308-23.435 4.7211-39.761-.021921 12.778-3.9002 26.036-3.8603 39.761.021921z"
                  fill="#498d00"
                  stroke="#498d00"
                  stroke-width=".066818"
                />
              </g>
            </svg>
            <svg
              class="menu__burger__bottom"
              version="1.1"
              viewBox="0 0 40 6"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <path
                  d="m39.878 2.9627c-11.153 3.2308-23.435 4.7211-39.761-.021921 12.778-3.9002 26.036-3.8603 39.761.021921z"
                  fill="#498d00"
                  stroke="#498d00"
                  stroke-width=".066818"
                />
              </g>
            </svg>
          </div>
          <nav class="menu__nav">
            <ul class="menu__nav__list">
              <li class="menu__nav__list__item">
                <a
                  class="menu__nav__link menu__nav__link--about menu__nav__link--scroll"
                  href="#about"
                  >O firmie</a
                >
              </li>
              <li class="menu__nav__list__item">
                <a
                  class="menu__nav__link menu__nav__link--contact menu__nav__link--scroll"
                  href="#contact"
                  >Kontakt</a
                >
              </li>
              <li class="menu__nav__list__item">
                <a
                  class="menu__nav__link menu__nav__link--demetra"
                  href="https://demetra.pl/"
                  rel="noopener noreferrer"
                  >Sklep</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <!-- main -->
      <main class="main">
        <section class="main-site" id="mainsite">
          <article class="main-site__article main-site__article--products">
            <header class="main-site__article__header">
              <h1 class="article__header__par">
                Skład produktów - dlaczego to jest ważne ?
              </h1>
            </header>
            <figure class="main-site__article__figure">
              <img
                class="main-site__article__img"
                src="img/imMainArt01m.jpg"
                alt="Ilustracja do artykułu: Skład produktów - dlaczego to jest ważne ?"
                title="Ilustracja do artykułu: Skład produktów - dlaczego to jest ważne ?"
              />
            </figure>

            <section class="main-site__article__text">
              <p class="main-site__article__text__par">
                Analiza składu produktów powinna być jednym z najistotniejszych
                elementów przy podejmowaniu decyzji o zakupie zarówno produktów
                spożywczych jak i produktów drogeryjno-kosmetycznych. Dzisiaj,
                kiedy nadrzędnym celem korporacyjnych producentów produktów
                masowej konsumpcji jest maksymalizacja zysku, stoimy przed
                wyborem zakupowym: pięknie opakowany, pachnący i tani produkt
                znanej marki, czy zakup produktu droższego, o przeciętnym
                wyglądzie ale doskonałej jakości płynącej z wyselekcjonowanych
                naturalnych składników.
              </p>
              <p class="main-site__article__text__par">
                Oczywiście, można przyjąć, że każdy producent stosuje składniki
                wg obowiązującego prawa i nie przekraczają one dozwolonych
                ilości w każdym z produktów. W istocie tak jest. Tylko, że jako
                konsumenci sięgamy po wiele produktów, które w swoim składzie
                zawierają kontrowersyjne substancje i kumulujemy je wszystkie w
                swoich organizmach. Rachunek za to możemy zapłacić w
                przyszłości, kiedy coraz częściej będziemy zapadać na przewlekłe
                i nieuleczalne choroby wywołane wchłanianiem zagęstników,
                wypełniaczy, barwników itp.
              </p>
              <p class="main-site__article__text__par">
                Na naszej stronie znajdziecie Państwo informacje na temat
                składników, których długotrwałe stosowanie nie zostało do końca
                wyjaśnione, a negtywne efekty ich stosowania moga być widoczne w
                przyszłości.
              </p>
            </section>
          </article>
          <article class="main-site__article main-site__article--gloves">
            <header class="main-site__article__header">
              <h1 class="article__header__par">Rękawice nitrylowe</h1>
            </header>
            <figure class="main-site__article__figure">
              <img
                class="main-site__article__img"
                src="img/imMainArt02m.jpg"
                alt="Ilustracja do artykułu: Rękawice nitrylowe"
                title="Ilustracja do artykułu: Rękawice nitrylowe"
              />
            </figure>

            <section class="main-site__article__text">
              <p class="main-site__article__text__par">
                Nitryl jest związkiem chemicznym, który został zaadaptowany do
                szerokiego zastosowania przy produkcji rękawic jednorazowych.
                Nitryl to kauczuk syntetyczny, bardzo podobny z wyglądu do
                lateksu. Spadające ceny nitrylu, wynikające z rosnącej skali
                produkcji, stanowią w tej chwili mniej kosztowną alternatywę dla
                rękawiczek lateksowych dla zakładów opieki zdrowotnej.
              </p>
              <h2 class="main-site__article__text__par">
                Zalety rękawic nitrylowych:
              </h2>
              <ul class="main-site__article__text__list">
                <li>
                  są neutralne dla ludzkiej skóry. Oszacowania wzkazują, że
                  około 6% populacji jest uczulona na lateks naturalny.
                </li>
                <li>
                  są bardziej odporne na przebicia (wg statystyk do 3 razy
                  wyższa odporność)
                </li>
                <li>
                  coraz lepsze dopasowanie do dłoni użytkownika wynikające z
                  ciągle doskonalonej technologi produkcji nitrylu. Różnica w
                  elastyczności pomiedzy rękawicami nitrylowymi i laksowymi waha
                  się pomiędzy 10-15% na korzyść lateksu
                </li>
              </ul>

              <h2 class="main-site__article__text__par">Stabilność cen</h2>
              <p class="main-site__article__text__par">
                Rekawice wykonane z lateksu podlegają dużym wahaniom cenowym.
                Główną przyczyną jest dostępność naturalnej gumy. Lateks
                uzyskuje się poprzez nacinanie drzew kauczukowych, zebranie soku
                mlecznego z naciętej rośliny a następnie jego obróbkę. Ten
                proces wymaga czasu a ilość soku mlecznego zależy w dużej mierze
                od pogody. Kauczuk syntetyczny jest produktem chemicznym, w
                całości wytworzonym w rezultacie procesów chemicznych
                przeprowadzonych w fabrykach. Proces produkcyjny jest stabilny,
                przewidywalny i możliwe jest szybkie zwiekszenie produkcji przy
                rosnącym popycie..
              </p>
              <h2 class="main-site__article__text__par">
                Różnice cenowe pomiędzy rękawicami nitrylowymi
              </h2>
              <p class="main-site__article__text__par">
                Cena rękawic jest zależna od zawartości procentowej nitrylu w
                rękawicy, jak również od grubości rękawicy. Najprostszym
                sposobem porównania rękawic jest zważenie dwóch opakowań
                zawierających tę samą ilość. Cięższe pudełko zawiera grubsze
                rękawice, tym samym będą one lepiej chronić ręce przed
                niepożądanymi substancjami. Więcej na ten temat możecie Państwo
                znaleźć w zakładce parametry i normy. Najtańsze rękawice, w
                większości przypadków, pomimo spełnianych norm
                przepuszczalności, ulegają często uszkodzeniu już przy próbie
                założenia na dłoń. Efekt ekonomiczny tego rozwiązania jest taki,
                że w rzeczywistości rekawica jest droższa (większe zużycie) niż
                pozornie droższa o 20% rękawica innej marki. Niska cena wynika z
                konieczności utrzymania konkurencyjności w przetargach w
                publicznych ośrodkach zdrowia i szpitalach w których głównym
                kryterium (95%) jest cena jednostkowa opakowania. Nikt nie
                mierzy ile w rzeczywistości kosztuje pudełko rękawic, z których
                25% ulega uszkodzeniu przy zakładaniu.
              </p>
            </section>
          </article>
          <article class="main-site__article main-site__article--aleppo">
            <header class="main-site__article__header">
              <h1 class="article__header__par">Mydło z Aleppo</h1>
            </header>
            <figure class="main-site__article__figure">
              <img
                class="main-site__article__img"
                src="img/imMainArt03m.jpg"
                alt="Ilustracja do artykułu: Skład produktów - dlaczego to jest ważne ?"
                title="Ilustracja do artykułu: Skład produktów - dlaczego to jest ważne ?"
              />
            </figure>
            <section class="main-site__article__text">
              <p class="main-site__article__text__par">
                Mydło z Aleppo jak sama nazwa wskazuje, pochodzi z Aleppo i
                najbliższych okolic tego miasta. Od ponad 2000 lat wytwarzane
                jest ręcznie, niezmiennie z tych samych składników: oliwy z
                oliwek i oleju laurowego. Jako substancję spieniającą stosuje
                się wodorotlenek sodu. Do europy mydło trafiło ponad 1000 lat
                temu. Właściwości antybakteryjne i prosty skład sprawiają, że w
                czasie kiedy wzrasta świadomość społeczna i troska o ekologię,
                mydła z Aleppo coraz bardziej zyskują na popularności.
              </p>
              <h2 class="main-site__article__text__par">
                Właściwości mydła z Aleppo
              </h2>
              <p class="main-site__article__text__par">
                Antyseptyczne właściwości oleju laurowego sprawiają, że mydło z
                Aleppo polecane jest jako doskonały produkt do pielęgnacji
                twarzy. Poprzez dogłębne oczyszczenie porów, ogranicza
                pojawianie się pryszczy i wspomaga gojenie drobnych ran. Przy
                zastosowaniu mydła o większej zawartości oleju laurowego,
                sprawdzi się ono doskonale przy cerze tłustej, redukując
                błyszczenie skóry nosa, brody, czoła. Ponieważ mydło posiada
                odczyn zasadowy, po każdym myciu powinno się przetrzeć twarz
                tonikiem, ze względu na kwaśny odczyn skóry. Oliwa z oliwek
                zawarta w mydłach uzupełnia zalety oleju laurowego, nawilżając
                skórę.
              </p>
              <h2 class="main-site__article__text__par">
                Zasady doboru mydła w zależności od rodzaju skóry
              </h2>
              <ul class="main-site__article__text__list">
                <li>cera mieszana: 10-20% oleju laurowego</li>
                <li>skóra tłusta: 30-40% oleju laurowego</li>
                <li>
                  skóra trądzikowa: powyżej 40% zawartości oleju laurowego
                </li>
              </ul>
              <p class="main-site__article__text__par">
                Olej laurowy posiada właściwości wysuszające dlatego warto
                zacząć od mydeł z małą zawartością oleju laurowego i używać ich
                raz dziennie. Zapobiega to przesuszeniu skóry. Im wiekszą
                zawartość oleju laurowego, tym silniejsze jest działanie
                antybakteryjne i przeciwgrzybiczne. Jednocześnie silniejsze jest
                działanie wysuszajace i ściągające. Wysoka cena zakupu
                rekompensowana jest przez bardzo wysoką wydajność mydła, które
                wystarcza nawet na 3 miesiące regularnego stosowania (dla kostki
                200g).
              </p>
              <p class="main-site__article__text__par">
                Zobacz jak powstaje mydło z Aleppo -
                <a
                  class="link"
                  href="https://www.youtube.com/watch?v=sxYidnEAiYQ"
                  target="_blank"
                  rel="noopener noreferrer"
                  >kliknij</a
                >
              </p>
            </section>
          </article>
        </section>
        <section class="about-site" id="about">
          <article class="about-site__article">
            <header class="about-site__article__header">
              <h1 class="article__header__par">O firmie</h1>
            </header>
            <section class="about-site__article__text">
              <p class="about-site__article__text__par">
                Optimos, od początku swojego istnienia, zajmuje się dystrybucją
                produktów najwyższej jakości, dbając o komfort ich użytkowania a
                tym samym satysfakcję klienta. Główny nacisk kładziemy na jakość
                produktów i oferujemy tylko takie produkty, które znalazły nasze
                uznanie i których sami bez obaw możemy używać. Większość
                produktów drogeryjnych i kosmetycznych w naszej ofercie,
                powstaje na bazie składników roślinnych, dzięki czemu mogą być
                używane również przez Wegan.
              </p>
              <p class="about-site__article__text__par">
                Szeroka gama mydeł marsylskich i mydeł z Aleppo, pozwoli poznać
                Państwu zalety produktów naturalnych, wytwarzanych od wielu lat
                według oryginalnych, niezmienionych receptur. Oprócz produktów
                do zastosowań domowych, w naszej ofercie znajdą Państwo gamę
                nowoczesnych, nieuczulających rękawic nitrylowych o szerokim
                zastosowaniu medycznym, gastronomicznym jak również do prac
                porządkowych.
              </p>
            </section>
          </article>
        </section>
        <section class="contact-site" id="contact">
          <article class="contact-site__article">
            <header class="contact-site__article__header">
              <h1 class="article__header__par">Dane kontaktowe</h1>
            </header>
            <div class="contact-site__article__container">
              <section class="contact-site__article__text">
                <p class="contact-site__article__text__par">OPTIMOS S.C.</p>
                <p class="contact-site__article__text__par">
                  ul. Ołówkowa 40 lok. 6
                </p>
                <p class="contact-site__article__text__par">05-800 Pruszków</p>
                <p class="contact-site__article__text__par">
                  NIP 534-249-92-87
                </p>
              </section>
              <section class="contact-site__article__text">
                <p class="contact-site__article__text__par">
                  <span class="fas fa-phone contact-site__icon"></span> +48 730
                  780 756
                </p>
                <p class="contact-site__article__text__par">
                  <span class="fas fa-clock contact-site__icon"></span
                  >poniedziałek - piątek 9:00 - 17:00
                </p>
                <p class="contact-site__article__text__par">
                  <span class="fas fa-envelope contact-site__icon"></span>
                  kontakt@demetra.pl
                </p>
              </section>
            </div>
          </article>
          <article class="contact-site__article">
            <header class="contact-form__title">
              Masz pytania? Napisz do nas:
            </header>
            <form class="contact-form" method="POST" action="contact.php">
              <label
                class="form__input__label"
                id="input-email-label"
                for="input-email"
                >Twój adres e-mail</label
              >
              <input
                class="form__input-email form__input"
                type="email"
                placeholder="Wpisz swój adres e-mail"
                name="email"
                id="input-email"
                required
              />
              <label
                class="form__input__label"
                id="input-title-label"
                for="input-title"
                >Tytuł wiadomości</label
              >
              <input
                class="form__input-title form__input"
                type="text"
                placeholder="Wpisz tytuł wiadomości - min. 5, max. 200 znaków"
                name="title"
                id="input-title"
                minlength="5"
                maxlength="200"
                required
              />
              <label
                class="form__input__label"
                id="input-message-label"
                for="input-message"
                >Treść wiadomości</label
              >
              <textarea
                class="form__input-message form__input"
                placeholder="Napisz wiadomość - min. 10, max. 2000 znaków"
                name="message"
                id="input-message"
                minlength="10"
                maxlength="2000"
                required
              ></textarea>
              <input
                class="form__input-robo"
                type="text"
                placeholder="Jeżeli jesteś człowiekiem nie wypełniaj tego pola"
                name="robo"
              />
              <button class="form__btn" type="submit">Wyślij wiadomość</button>
              <div class="contact-form__status-panel"></div>
            </form>
          </article>
        </section>
      </main>
      <!-- footer -->
      <footer class="footer">
        <article class="footer__article--copyrights">
          <p class="footer__article__text__par">
            Optimos &copy; 2020 Wszystkie prawa zastrzeżone. Powielanie
            informacji zawartych na tej stronie zabronione.
          </p>
        </article>
      </footer>
    </div>
  </body>
</html>
