$base-font: "Alegreya Sans", sans-serif;
$menu-font: "Overlock", cursive;
$base-font-size: 16px;
$text-color: #000;

$primary-gray: #c6c6c6;
$primary-green: #498d00;
$dark-green: #274b00;
$light-green: #7dc034;

$main-spacing: 10px;

$menubar-mobile-height: 65px;
$menubar-desktop-height: 75px;
